*{
    font-family: poppins;
    padding: 0;
    margin: 0;
}
body{
    background: #151516;;
}
header{
  height: 12vh;
  width: 100%;
  background: #141414;
  display: flex;
  align-items: center;
}

header .logo {
  line-height: 12px;
  margin-left: 10%;
  margin-right: 20px;
}
header .logo a{
  font-size: 32px;
  color: crimson;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
  height: max-content;
}
header .logo .subtitle{
  font-size: 10px;
  margin-top: 2px;
  position: absolute;
  width: max-content;
}

header .title{
    color: #bbb;
}









.payment-container{
    position: relative;
    height: 80vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.payment-container .details-container{
    position: absolute;
    height: 85%;
    left: 50%;
    transform: translateX(-50%);
}

.payment-container .details-container.movie{
    position: relative;
    width: max-content;
    padding: 0 40px;
    display: flex;
    justify-content: center;
}

.payment-container .details-container.movie .movie-info{
    width: max-content;
    height: 100%;
    margin-right: 20px;
    padding: 0 20px;
    border: 1px solid white;
    color: white;
}
.payment-container .details-container.movie .movie-info table{
    height: 90%;
    width: 350px;
}

.payment-container .details-container.movie .movie-info table tr td:last-child{
    text-align: right;
}

.payment-container .details-container.movie .movie-info table tr td.numberOfseat{
    text-align: center;
    margin: 0;
    padding: 0;
}
.payment-container .details-container.movie .movie-info table tr td.numberOfseat .seatNo{
    font-size: 42px;
    font-weight: bold;   
}
.payment-container .details-container.movie .movie-info table tr td #totalPrice{
    font-size: 16px;
    text-align: right;
    display: flex;
    align-items: center;
    width: 80px;
    border:none;
    background: none;
    font-weight: bold;
    color: white;
}
.payment-container .details-container.movie .movie-info table tr td.total-price{
    position: relative;
}

.payment-container .details-container.movie .movie-info table tr td.total-price .overflow{
    position: absolute;
    right: -5%;
    width: 100px;
    height: 24px;
}




.payment-container .details-container.movie .payment-info-container{
    position: relative;
    width: 500px;
    height: 100%;
    padding: 0 10%;
    right: 0;
   
}

.payment-container .details-container.movie .payment-info-container table{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    height: 80%;
    padding: 25px;
    border: 2px solid white;
    color: white;
}
.payment-container .details-container.movie .payment-info-container table tr td{
    position: relative;
}
.payment-container .details-container.movie .payment-info-container table tr td p.divider{
    text-align: center;
    font-size: 12px;
    margin: 5px 0;;
}

.payment-container .details-container.movie .payment-info-container table tr td input{
    position: relative;
    width: 100%;
    padding: 7px 0;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 6px 0;
}
.payment-container .details-container.movie .payment-info-container table tr td input[type="submit"]{
    background: crimson;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.payment-container .details-container.movie .payment-info-container table tr td input[type="submit"]:hover{
    background: rgba(220, 20, 60, 0.808);
}

.payment-container .details-container.movie .payment-info-container table tr td #paypal-button-container{
    color: white;
}







footer{
    font-size: 14px;
    color: #757575;
    height: 8vh;
    background:#16171d;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
footer .copyright{
    font-size: 16px;
}
footer .nav-links{
    position: absolute;
    right: 10%;
}

footer .nav-links ul li{
    display: inline-block;
    margin: 0 7px;
}
footer .nav-links ul li a{
    text-decoration: none;
    color: #757575;
}
footer .nav-links ul li a:hover{
    color: #929292;
}







