* {
  padding: 0;
  margin: 0;
  font-family: poppins;
  box-sizing: border-box;
}
body{
  background: #151516;
  padding-top: 15vh;
  color: white;
}


/* HEADER */
header{
  position: fixed;
  top: 0%;
  height: 15vh;
  width: 100%;
  z-index: 100;
}

header .nav-search-area{
  position: absolute;
  top:0%;
  height: 70%;
  width: 100%;
  background: #141414;
  display: flex;
  align-items: center;
}

header .nav-search-area .logo {
  line-height: 12px;
  margin-left: 10%;
 
}
header .nav-search-area .logo a{
  font-size: 32px;
  color: crimson;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
  height: max-content;
}
header .nav-search-area .logo .subtitle{
  font-size: 10px;
  margin-top: 2px;
  position: absolute;
  width: max-content;
}

header .nav-search-area .search{
  margin-left: 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
}
header .nav-search-area .search input{
  width: 100%;
  font-size: 16px;
  padding: 5px 15px;
  padding-left: 40px;
  outline: none;
  border: 1px solid #bbbbbb;
  border-right: none;
  background: none;
  color: #bbbbbb;
  border-radius: 30px;
}
header .nav-search-area .search .search-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 3%;
  cursor: pointer;
  filter: brightness(0) invert(1) opacity(.5);
}

header .nav-search-area .search .search-suggestion{
  width: 90%;
  height: max-content;
  background: #686868;
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 0 10px;
}

header .nav-search-area .search .search-suggestion a{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 5px 0;
  line-height: 20px;
}
header .nav-search-area .search .search-suggestion a:hover{
  background:  #555555;
  transition: ease-in-out .3s;
}
header .nav-search-area .search .search-suggestion a .img-poster{
  width: 70px;
  height: 80px;
  margin-right: 15px;
  overflow: hidden;

}
header .nav-search-area .search .search-suggestion a .img-poster .poster{
  width: 100%;
  height: 100%;
}
header .nav-search-area .search .search-suggestion a .title h3{
  font-size: 15px;
}
header .nav-search-area .search .search-suggestion a .title p{
  color: rgb(219, 219, 219);
  font-size: 14px;
}



/* Login | Register */
header .nav-search-area .nav-bar-container{
  position: absolute;
  right: 10%;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
}

/* is not Login */
header .nav-search-area .nav-bar-container .login{
  color: #bbbbbb;
  margin-right: -10px;
}

header .nav-search-area .nav-bar-container .login a{
  color: #bbbbbb;
  margin: 0 10px;
  text-decoration: none;
  transition: ease-in-out .4s;
}

header .nav-search-area .nav-bar-container .login a:hover{
  color: #ffffff;
}


/* is Login */
header .nav-search-area .nav-bar-container .isLogin{
  cursor: default;
  align-items: center;
  color: #bbbbbb;
}

header .nav-search-area .nav-bar-container .isLogin .wishlist{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
header .nav-search-area .nav-bar-container .isLogin .wishlist img{
  width: 100%;
  height: 100%;
  filter: invert(1) opacity(.6);
}

header .nav-search-area .nav-bar-container .isLogin .profile{
  width: max-content;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .nav-search-area .nav-bar-container .isLogin .profile img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
}

header .nav-search-area .nav-bar-container .isLogin .profile img.drop-down-icon{
  margin: 0;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  filter: invert(1) opacity(.6);
}







header .nav-bar{
  bottom: 0;
  position: absolute;
  height: 30%;
  width: 100%;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  padding: 0 10%;
} 
header .nav-bar ul{
  height: 90%;
}
header .nav-bar ul li{
  position: relative;
  display: inline-block;
  height: 100%;
  margin: 0 2px;
  
}
header .nav-bar ul li a{
  color: #dddddd;
  text-decoration: none;
  font-size: 15px;
  transition: ease-in-out .2s;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  
}
header .nav-bar ul li:hover{
  border-bottom: 2px solid crimson;
}
header .nav-bar ul li a:hover{
  color: crimson;
}





header .login-container{
  right: 10%;
  top: 70%;
  position: absolute;
  width: 300px;
  height: 350px;
  background: rgb(17, 17, 26);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.548);
  border: 1px solid rgba(47, 47, 71, 0.623);
  border-top: none;
  color: white;
  display: none;
}
.login-container table{
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.login-container table td{
  text-align: center;
}
.login-container table th{
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
}
.login-container table td input{
  width: 200px;
  padding: 3px 7px;
  margin: 10px 0 ;
  outline: none;
  border-radius: 2px;
  border: 1px solid rgb(17, 17, 26);
  font-size: 14px;
}
.login-container table td input[type="submit"]{
  width: 215px;
  border: none;
  font-size: 16px;
  background: crimson;
  cursor: pointer;
  color: white;
}
.login-container table td a{
  color: crimson;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
}
.login-container table td a:hover{
  text-decoration: underline;
}

.login-container .other-account{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.login-container .other-account p{
  margin: 7px 0;
  font-size: 14px;
}

.login-container .other-account button{
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.login-container .other-account button img{
  width: 100%;
  height: 100%;
}



.login-container .reg{
  width: max-content;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  font-size: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.login-container .reg a{
  font-size: 12px;
  margin-left: 5px;
  color: crimson;
}



header .user-login-container{
  right: 10%;
  top: 70%;
  position: absolute;
  width: max-content;
  height: max-content;
  background: #141414;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.548);
  border: 1px solid rgba(47, 47, 71, 0.623);
  border-top: none;
  display: none;
  cursor: pointer;
  padding-bottom: 1%;
  
}
header .user-login-container ul{
  width: 100%;
}
header .user-login-container ul li{
  position: relative;
  list-style: none;
  padding: 0 10px;
 
}
header .user-login-container ul li button{
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  text-align: right;
  font-size:15px;
  line-height: 30px;
  padding-right: 5px;
  cursor: pointer;
  color: white;
  
}
header .user-login-container ul li:hover{
  background: rgba(220, 20, 60, 0.514);
}




.scrolling{
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.288);
}






.bg-blur{
  position: absolute;
  top: 15%;
  right: 0%;
  width: 100%;
  height: 85vh;
  background: url("../ImageDesign/new-poster-and-banner-for-zack-snyders-justice-league.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(6px) opacity(.3);
}


.bg-blur .bottom-gradient{
  position: absolute;
  bottom: 0%;
  background: linear-gradient(180deg, #15151628, #15151691, #151516);
  width: 100%;
  height: 20%;
}









/* Slider */
.slider-container {
  margin-top: 35px;
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.slider-container .slide-holder{
  position: absolute;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.slider-container .slide-holder .imgHolder{
  position: relative;
  list-style: none;
  width: 700px;
  height: 100%;
  bottom: 0%;

}
.slider-container .slide-holder .imgHolder .overlay{
  position: absolute;
  width: 95.5%;
  height: 95%;
  background: rgba(0, 0, 0, 0.548);
  z-index: 2;
  border-radius: 10px;
  opacity: 0;
}
.slider-container .slide-holder .imgHolder .overlay:hover{
  opacity: 1;
  transition: ease-in-out .4s;
}
.slider-container .slide-holder .imgHolder img{
  position: absolute;
  width: 95.5%;
  height: 95%;
  top: 0%;
  border-radius: 10px;
  overflow: hidden;
}
.slider-container .slide-holder .imgHolder .movie-text{
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 5%;
  color: white;
}

.slider-container .slide-holder .imgHolder .movie-text a{
  color: #dddddd;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
}
.slider-container .slide-holder .imgHolder .movie-text p{
  color: #cccccc;
}

.slider-container .slide-holder .imgHolder a:hover{
  color: #ffffff;
  transition: ease-in-out .4s;
}



/* BUTTONS */
.slider-container button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: .6;
  z-index: 10;
}
#prevBtn{
  left: 3%;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity ease-in-out .3s;
}
#prevBtn img{
  width: 70px;
  height: 70px;
  filter: brightness(0) invert(1);
}
#nxtBtn{
  right: 3%;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity ease-in-out .3s;
}
#nxtBtn img{
  width: 70px;
  height: 70px;
  filter: brightness(0) invert(1);
}

.slider-container button:hover{
  opacity: 1;
}
/*-----X------ Slider ---------X---------*/
















.movie-container{
  width: 80%;
  height: 350px;
  background: rgb(170, 164, 164);
  margin: 15px auto;
}


/* SHOWING THIS WEEK*/

.showing-week-container{
  background: none;
} 
.showing-week-container .container-title{
  position: relative;
  margin-bottom: 5px;
}

.showing-week-container .container-title .see-all{
  position: absolute;
  right: 2%;
  bottom: 5%;
  color: #b6142c;
  font-weight: normal;
  text-decoration: none;
  transition: all ease .4s;
}
.showing-week-container ul li{
  position: relative;
  width: 200px;
  height: 280px;
  background: crimson;
  list-style: none;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 10px;
}
.showing-week-container .movie-poster-box{
  width: 100%;
  height: 100%;
  text-align: center;
}
.showing-week-container .movie-poster-box .movie-poster{
  background: chartreuse;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 85%;
}
.showing-week-container .movie-poster-box .movie-poster img{
  width: 100%;
  height: 100%;
}

.showing-week-container .movie-poster-box .movie-title{
  background: chocolate;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: flex;
}
.showing-week-container .movie-poster-box .movie-title a{
  width: 100%;
  height: 100%;
  background: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 0 5px;
}











/* PREMIERE */

.premiere-container{
  background: #16171d;
  height: max-content;
  width: 100%;
  padding: 2% 10%;
} 
.premiere-container .container-title{
  position: relative;
  margin-bottom: 10px;
  line-height: 25px;
}
.premiere-container .container-title .see-all{
  position: absolute;
  right: 2%;
  bottom: 5%;
  color: #b6142c;
  font-weight: normal;
  text-decoration: none;
  transition: all ease .4s;
}
.premiere-container .container-title .see-all:hover{
  color: crimson;
}
.premiere-container ul li{
  position: relative;
  width: 202.1px;
  height: 280px;
  background: crimson;
  list-style: none;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 10px;
}

.premiere-container .movie-poster-box{
  width: 100%;
  height: 100%;
  text-align: center;
}
.premiere-container .movie-poster-box .movie-poster{
  background: chartreuse;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 85%;
}
.premiere-container .movie-poster-box .movie-poster img{
  width: 100%;
  height: 100%;
}

.premiere-container .movie-poster-box .movie-title{
  background: chocolate;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: flex;
}
.premiere-container .movie-poster-box .movie-title a{
  width: 100%;
  height: 100%;
  background: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 0 5px;
}












/* COMING SOON */

.coming-soon-container{
  background: none;
} 
.coming-soon-container .container-title{
  margin-bottom: 20px;
  color: #cccccc;
}

.coming-soon-container ul li{
  position: relative;
  width: 202.1px;
  height: 300px;
  list-style: none;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 10px;
}

.coming-soon-container .movie-poster-box{
  width: 100%;
  height: 100%;
  text-align: center;
}
.coming-soon-container .movie-poster-box .movie-poster{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 85%;
}
.coming-soon-container .movie-poster-box .movie-poster img{
  width: 100%;
  height: 100%;
}

.coming-soon-container .movie-poster-box .movie-title{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: flex;
}
.coming-soon-container .movie-poster-box .movie-title p{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
























/* FOOTER */
.footer-container{
  position: relative;
  height: 50vh;
  background: #16171d;
  padding: 0 10%;
  display: flex;
  padding-top: 3%;
}
.footer-container div{
  width: 80%;
}
.footer-container div h3{
  color: whitesmoke;
}
.footer-container div li{
  list-style: none;
  line-height: 28px;
}
.footer-container div li a{
  color: rgb(148, 148, 148);
  text-decoration: none;
  
}
.footer-container div li a:hover{
  color: crimson;
}

.footer-container .contactUs input, textarea{
  outline: none;
  padding: 7px;
  background: none;
  border: 1px solid rgb(148, 148, 148);
  margin: 10px 0;
  color: white;
  width: 260px;
}
.footer-container .contactUs button{
  margin-top: -20px;
  padding: 7px 10px;
  border-radius: 20px;
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
}

.footer-container .followUs{
  position: absolute;
  width: max-content;
  height: max-content;
  top: 70%;
  transform: translateY(-50%);
}
.footer-container .followUs ul li{  
  list-style: none;
  display: inline-block;
  margin: 0 5px;
  margin-top: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.footer-container .followUs ul li:first-child{
  margin-left: 0%;
}  
.footer-container .followUs ul li img{
  width: 100%;
  height: 100%;
}

.footer-container .copyright{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color:rgb(148, 148, 148);
}